<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeffpdavidson.fantasywear">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.DeviceDefault">

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <receiver android:name=".receivers.AppUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- WearableListenerService verifies that the caller is Play Services. -->
        <service android:name=".services.ListenerService"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service android:name=".services.RequestSyncService" />

    </application>

</manifest>
